{{ use('Drupal\\Core\\Form\\FormStateInterface') }}
/**
 * @param array $form
 * @param FormStateInterface $form_state
 * @param string $form_id
 */
function {{ module }}_form_alter(array &$form, FormStateInterface $form_state, string $form_id) {
{% for implementation in implementations %}
  {{ implementation.function|function }}($form, $form_state, $form_id);
{% endfor %}
}
