function {{ module }}_{{ hook }}({{ args[0]|join(', ')|raw }}) {
{% for implementation in implementations %}
  {{ implementation.function|function }}({{ args[1]|slice(0, implementation.arguments[0]|length)|join(', ') }});
{% endfor %}
}
