{{ use?use('Drupal\\Component\\Utility\\NestedArray') }}
/**
 * @param array $functions
 * @param array $arguments
 *
 * @return array
 */
function _{{ module }}_hook_helper(array $functions, array $arguments): array {
  $return = [];
  foreach ($functions as $function) {
    $result = call_user_func_array($function, $arguments);
    if (isset($result) && is_array($result)) {
      $return = NestedArray::mergeDeep($return, $result);
    }
    elseif (isset($result)) {
      $return[] = $result;
    }
  }
  return $return;
}
