/**
* @return array
*/
function {{ module }}_{{ hook }}() {
{% if implementations|length == 1 %}
  return call_user_func_array({{ implementations[0].function|export }}, func_get_args());
{% else %}
  return _{{ module }}_hook_helper([
  {% for implementation in implementations %}
    {{ implementation.function|export }},
  {% endfor %}
  ], func_get_args());
{% endif %}
}
